html,
body
{
  height: 100%;
  width: 100%;
}
menu_section
{
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: row;


}
div
{
  background-color: lightblue;
  font-size: 24px;
  width: 10%;
  height: 50px;
  margin-right: auto;
  justify-content: center;
  align-self: center;
}
ul
{
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  margin-left: auto;

}
li
{
  display:  inline-block;
  margin-right: 0px;
  background-color: lightblue;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  justify-content: center;
  align-self: center;
  width: 10%;

}
ul li a
{
  text-decoration: none;
}
ul li a:link
{
  color: black;
}
ul li a:visited
{
  color: black;
}
ul li:hover
{
    background-color: orange;
}

section_3part
{
  background-color: white;
  color: black;
  display:flex;
  padding: 20px;
  flex-direction: row;
  align-content: flex-start;
  width: auto;
}

div_3part
{
  background-color: lightgrey;
  margin-right: 25px;
}

.non_scroll
{
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: solid grey 1px;
  width: 100%;
}

.non_scroll select
{
  padding: 10px;
  margin-left: -5px -20px -5px -5px;
}

section_calendar
{
  color: lightgray;
  padding: 20px;
  width: 70%;
  height: 50%;


}

#ruokakalenteri
{
  width: 70%;
  border: 1px solid lightgrey;
}

#ruokakalenteri tr:hover
{
  background-color: lightblue;
}

#ruokakalenteri tr:nth-child(even)
{
  background-color: lightgrey;
}

#ruokakalenteri th
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: lightgreen;
  color: black;
  width: 10%;
  border: 1px solid lightgrey;

}

#ruokakalenteri td
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 1px solid lightgrey;

}

tab4
{
  margin-left: 4em;
}

#ostoslista
{
    width: 50%;
    border: 1px solid lightgrey;
}

#ostoslista th
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: lightgreen;
  color: black;
  width: 10%;
  border: 1px solid lightgrey;
}

#ostoslista td
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border: 1px solid lightgrey;
}
